*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'outfit', sans-serif;
}
body{
    font-weight: 400;
    font-size: 15px;
    line-height: 1.7;
    color: white;
    background-color: #1f2029;
    height: 100vh;
    overflow-x: none;
}
p{
    font-size: 16px;
    font-weight: 400;
}
#wrapper{
    position: relative;
    display: block;
    width: 100%;
    overflow: hidden;
}
.container{
    position: relative;
    width: 860px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    padding: 100px 0;
}
.des{
    position: relative;
    width: 100%;
    display: block;
}
/* very imp */
[type="radio"]:checked,
[type="radio"]:not(:checked) {
    position: absolute;
    visibility: hidden;
}
.colorbtn:checked + label,
.colorbtn:not(:checked) + label{
    position: relative;
    height: 40px;
    transition: all 200ms linear;
    border-radius: 4px;
    width: 40px;
    overflow: hidden;
    border: none;
    cursor: pointer;
    color: #ffeba7;
    margin-right: 10px;
    box-shadow: 0 12px 35px 0 rgba(16, 39, 112, 0.25);
    z-index: 10;
    background-position: center;
    background-size: cover;
    border: 3px solid transparent;
}
.colorbtn:checked + label{
    border-color: #434343;
    transform: scale(1.1);
}
.label1{
    margin-left: 500px;
    background-image: url(images/color1.jpg);
}
.label2{
    background-image: url(images/color2.jpg);
}
.label3{
    background-image: url(images/color3.jpg);
}
.label4{
    background-image: url(images/color4.jpg);
}
.label5{
    background-image: url(images/color5.jpg);
}
.label6{
    background-image: url(images/color6.jpg);
}

.chairimg{
    position: absolute;
    top: 100px;
    left: 0;
    width: 500px;
    height: 410px;
    display: inline-block;
    z-index: 9;
    transition: all 550ms linear;
    transition-delay: 100ms;
    background-position: center top;
    background-size: 100%;
    background-image: url("images/chair1.png");
    opacity: 0;
}
/* v. very imp */
#color1:checked ~ .chairimg.chair1{
    opacity: 1;
    animation: shake 0.7s cubic-bezier(0.39, 0.07, 0.19, 0.97) both;
}
.chairimg.chair2{
    background-image: url("images/chair2.png");
}
#color2:checked ~ .chairimg.chair2{
    opacity: 1;
    animation: shake 0.7s cubic-bezier(0.39, 0.07, 0.19, 0.97) both;
}
.chairimg.chair3{
    background-image: url("images/chair3.png");
}
#color3:checked ~ .chairimg.chair3{
    opacity: 1;
    animation: shake 0.7s cubic-bezier(0.39, 0.07, 0.19, 0.97) both;
}
.chairimg.chair4{
    background-image: url("images/chair4.png");
}
#color4:checked ~ .chairimg.chair4{
    opacity: 1;
    animation: shake 0.7s cubic-bezier(0.39, 0.07, 0.19, 0.97) both;
}
.chairimg.chair5{
    background-image: url("images/chair5.png");
}
#color5:checked ~ .chairimg.chair5{
    opacity: 1;
    animation: shake 0.7s cubic-bezier(0.39, 0.07, 0.19, 0.97) both;
}
.chairimg.chair6{
    background-image: url("images/chair6.png");
}
#color6:checked ~ .chairimg.chair6{
    opacity: 1;
    animation: shake 0.7s cubic-bezier(0.39, 0.07, 0.19, 0.97) both;
}
@keyframes shake{
    10%,
    90%{
        transform: translate3d(-1px,0,0) rotate(-1deg);
    }
    20%,
    80%{
        transform: translate3d(2px,0,0) rotate(2deg);
    }
    30%,
    50%,
    70%{
        transform: translate3d(-3px,0,0) rotate(-3deg);
    }
    40%,
    60%{
        transform: translate3d(3px,0,0) rotate(3deg);
    }
}

.backcolor{
    position: fixed;
    top:0;
    right: 0;
    height: 100%;
    width: 100%;
    display: block;
    z-index: 1;
    background-image: linear-gradient(196deg,#f1a9a9,#e66767);
    transition: all 250ms linear;
    transition-delay: 300ms;
}
.backcolor.chair2{
    background-image: linear-gradient(196deg,#4c4c4c,#262626);
    opacity: 0;
}
#color2:checked ~ .backcolor.chair2{
    opacity: 1;
}
.backcolor.chair3{
    background-image: linear-gradient(196deg,#8a9fb2,#5f7991);
    opacity: 0;
}
#color3:checked ~ .backcolor.chair3{
    opacity: 1;
}
.backcolor.chair4{
    background-image: linear-gradient(196deg,#97afc3,#6789a7);
    opacity: 0;
}
#color4:checked ~ .backcolor.chair4{
    opacity: 1;
}
.backcolor.chair5{
    background-image: linear-gradient(196deg,#afa6a0,#8c7f76);
    opacity: 0;
}
#color5:checked ~ .backcolor.chair5{
    opacity: 1;
}
.backcolor.chair6{
    background-image: linear-gradient(196deg,#aaadac,#838786);
    opacity: 0;
}
#color6:checked ~ .backcolor.chair6{
    opacity: 1;
}
.info{
    position: relative;
    margin-left: 500px;
    z-index: 10;
    display: block;
    text-align: left;
}
h2{
    font-weight: 700;
    text-transform: capitalize;
    letter-spacing: 1px;
    font-size: 13px;
    line-height: 1.2;
    color: white;
    margin-top: 0;
    margin-bottom: 10px;
}
h1{
    font-weight: 800;
    font-size: 34px;
    line-height: 1.2;
    margin-top: 0;
    margin-bottom: 10px;
}
h3{
    font-weight: 500;
    font-size: 26px;
    line-height: 1.2;
    margin-top: 0;
    margin-bottom: 30px;
}
h3 span{
    text-decoration: line-through;
    font-size: 20px;
    opacity: 0.6;
    padding-left: 15px;
}
h4{
    font-weight: 600;
    margin-top: 0;
    line-height: 1.2;
    font-size: 18px;
    margin-bottom: 20px;
}
.desbtn:checked + label,
.desbtn:not(:checked) + label {
  position: relative;
  transition: all 200ms linear;
  display: inline-block;
  border: none;
  cursor: pointer;
  color: #ffeba7;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.2;
  color: #fff;
  margin-right: 25px;
  opacity: 0.5;
}
.desbtn:checked + label {
  opacity: 1;
}
.desbtn:not(:checked) + label:hover {
  opacity: 0.8;
}

.dessec {
  padding-top: 20px;
  padding-bottom: 30px;
  transition: all 250ms linear;
  opacity: 0;
  overflow: hidden;
  pointer-events: none;
  transform: translateY(20px);
}
.dessec.acc2 {
  position: absolute;
  top: 25px;
  left: 0;
  width: 100%;
  z-index: 2;
}
#des1:checked ~ .dessec.acc1 {
  opacity: 1;
  pointer-events: auto;
  transform: translateY(0);
}
#des2:checked ~ .dessec.acc2 {
  opacity: 1;
  pointer-events: auto;
  transform: translateY(0);
}
.inline {
  position: relative;
  display: inline-block;
  margin-right: 20px;
}
.inline p span {
  font-size: 30px;
  line-height: 1.1;
}

.cartbtn {
  position: relative;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 2;
  height: 48px;
  border-radius: 4px;
  width: 210px;
  letter-spacing: 1px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: none;
  cursor: pointer;
  overflow: hidden;
  background-color: transparent;
  color: #fff;
  box-shadow: 0 6px 15px 0 rgba(16, 39, 112, 0.15);
  transition: all 250ms linear;
  text-decoration: none;
  margin-top: 50px;
}
.icon {
  padding-right: 7px;
  font-size: 20px;
}
.cartbtn:before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: "";
  z-index: -1;
  background-color: #944852;
  transition: background-color 250ms 300ms ease;
}
.cartbtn:hover {
  box-shadow: 0 12px 35px 0 rgba(16, 39, 112, 0.25);
  background-color: #333;
}
#color2:checked ~ .info-wrap .btn:before {
  background-color: #1a1a1a;
}
#color3:checked ~ .info-wrap .btn:before {
  background-color: #40566e;
}
#color4:checked ~ .info-wrap .btn:before {
  background-color: #5e89b2;
}
#color5:checked ~ .info-wrap .btn:before {
  background-color: #8c7f76;
}
#color6:checked ~ .info-wrap .btn:before {
  background-color: #5d6160;
}